@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-09-11 20:34:35
 * @version $Id$
 */
/*头部*/
.mi{
	width: 100%;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
	position: relative;
}
.mi_head{
	width: 100%;
	max-width: 500px;
	min-width: 300px;
	position: relative;
	margin-top: 5px;
	padding-bottom: 5px;
	color: #DEDCDC;
}
.mi_head i{
	position: absolute;
	left: 10px;
    top: 4px;
}
.mi_head input{
	width: 100%;
	padding: 5px 33px;
	box-sizing: border-box;
	font-size: 13px;
	color: #A8A7A7;
}
.mi_border_top{
	height: 6px;
	border: 1px solid #C9C8C8;
	border-top: none;
	margin: 0 8px;
}
/*轮播图*/
.mi_banner{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.mi_banner ul{
	width: 1000%;
}
.mi_banner li{
	width: 10%;
	float: left;
}
.mi_banner img{
	display: block;
	width: 100%;
}
/*数字按钮*/
.mi_banner ol{
	position: absolute;
	left: 50%;
	bottom: 16px;
	margin-left: -42px;
}
.mi_banner ol li{
	width: 5px;
	height: 5px;
	background: #666666;
	margin-right: 10px;
	border-radius: 50px;
}
.mi_banner ol li.color{
	background: #fff;
}
/*分类*/
.mi_list{
	width: 100%;
	max-width: 500px;
	min-width: 300px;
}
.mi_list ul{
	float: left;
	width: 100%;
	max-width: 500px;
	min-width: 300px;
	padding-bottom: 5px;
	background: #F8F6F6;
}
.mi_list li:nth-child(1),
.mi_list li:nth-child(4){
	margin-left: 0;
	margin-right: 7px;
}
.mi_list li{
	float: left;
	width: 32%;
	margin-top: 5px;
}
.mi_list li:nth-child(3),
.mi_list li:nth-child(6){
	float: right;
}
.mi_list img{
	width: 100%;
	display: block;
}
/*手机*/
.mi_footer li{
	padding: 18px 0;
	border-bottom: 1px solid #F2F2F2;
}
.mi_footer li a{
	display: block;
	float: left;
	position: relative;
}
.mi_footer li img{
	width: 7em;
	margin-top: 12px;
}
.mi_footer li img:nth-child(2){
	width: 53px;
	height: 53px;
	position: absolute;
	top: 10px;
	opacity: .9;
}
.mi_footer .mi_con{
	width: 100%;
	font: 400 12px "微软雅黑";
}
.mi_footer .mi_con p:nth-child(1){
	padding-bottom: 2px;
	font-size: 13px;
}
.mi_footer .mi_con p:nth-child(2){
	padding-right: 10px;
	// font-size: 10px;
	color:#969696;
}
.mi_footer .mi_con p:nth-child(3){
	color: #ff6700;
	padding-top: 8px;
}
/*固定*/
.mi_fixed{
	width: 100%;
	position: fixed;
	z-index: 1000;
	bottom: -1px;
	max-width: 500px;
	min-width: 300px;
	background: #fff;
}
.mi_fixed li{
	float: left;
	width: 25%;
	border-top: 1px solid #D6D5D5;
	text-align: center;
	padding: 12px 0;
}
.mi_fixed li:nth-child(1) a{
	color: #ff6700;
}
.mi_fixed li .dont{
	font-size: 26px;
	font-weight: bold;
}
.mi_fixed li p{
	font: 400 16px "微软雅黑";
}